<div class="page-container">
  <div class="card color-white">
    <div class="card__header">
      <h2 class="card__label">Web component demo</h2>
    </div>
    <div class="card__body">
      <ul class="navigation tabs--horizontal">
        <li class={{if (eq currentPath 'web-component') 'tabs--active'}}>
          {{#link-to 'web-component' class="tabs--active"}}
            Web Component Demo
          {{/link-to}}
        </li>
        <li class={{if (eq currentPath 'react') 'tabs--active'}}>
          {{#link-to 'react' class="tabs--active"}}
            React Demo
          {{/link-to}}
        </li>
        <li class={{if (eq currentPath 'ember') 'tabs--active'}}>
          {{#link-to 'ember' class="tabs--active"}}
            Ember Demo
          {{/link-to}}
        </li>
      </ul>
      {{outlet}}
    </div>
  </div>
</div>
